<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Buscador de recursos para personas sin hogar</title>
    <link rel="icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/gallery.css" />
  </head>
  <body onload="getLocation()">
    <div class="container">
      <div class="Menu Header">
        <h1>Buscador de recursos para personas sin hogar</h1>
        <h3>Eugene, OR</h3>
        <a
          style="position:absolute; top:10px; left:10px; font-size:24px; color:white; background-color:red; padding: 4px; border-radius:5px;"
          href="http://localhost:5000/about_es"
          >Reiniciar</a
        >

        <span class="btnsize">
          <img
            id="zoom"
            style="width:50px; height:50px; position:absolute; bottom:10px; left:10px;"
            src="../static/images/zoomin.png"
            alt=""
          />
        </span>
        <button
          style="position:absolute; top:10px; left:115px; font-size:24px; color:white; background-color:white; padding: 4px; border-radius:5px;"
          onclick="window.location.href='/index'"
        >
          <img
            style="height:23px; width:28px;"
            src="../static/images/english.png"
            alt=""
          />
        </button>
        <a href="https://lanecounty.org/">
          <img
            style="height:150px; width:100px; position:absolute; right:0; top:25px; margin-right:60px;"
            src="../static/images/lanecounty.png"
            alt=""
          />
        </a>
      </div>

      <div class="Menu Resources">
        <form method="POST" action="/search_es" id="search" name="resGet">
          <h2 style="text-decoration:underline;">Recursos disponibles</h2>
          <div id="buttonWrapper">
            <button
              style="padding: 20px 28px 20px 28px; width:240px; font-size:32px; text-decoration:bold;"
              type="submit"
              id="beds"
              name="sub"
              value="beds"
            >
              Camas<img
                style="height:25%; width:25%; padding-left:10px;"
                src="../static/images/bed.png"
              />
            </button>
            <br />
            <button
              style="padding: 20px 28px 20px 28px; width:240px; font-size:32px; text-decoration:bold;"
              type="submit"
              id="food"
              name="sub"
              value="food"
            >
              Comida<img
                style="height:25%; width:25%; padding-left:10px;"
                src="../static/images/food.png"
              />
            </button>
            <br />
            <button
              style="padding: 20px 28px 20px 28px; width:240px; font-size:32px; text-decoration:bold;"
              type="submit"
              id="clinic"
              name="sub"
              value="clinic"
            >
              Clinicas<img
                style="height:25%; width:25%; padding-left:10px;"
                src="../static/images/clinic.png"
              />
            </button>
          </div>
          <p style="color: #444;">
            Seleccione una opción para conocer los recursos relacionados en su
            área.
          </p>
        </form>
      </div>
      <div class="Menu ContactForm">
        <h2 style="text-decoration:underline; font-size:28px;">
          Contactos de Emergencia
        </h2>
        <!-- IDEA: City of Eugene Helpline Contact Form -->

        <label style="color:#ef0b31" for="#EES"
          ><i>Servicios de Emergencia de Eugene</i></label
        >
        <a id="EES" style="" href="#">
          <label for="">Teléfono: </label>(541) 344-8757
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
        /></a>
        <a style="font-size:20px;" href="http://localhost:5000/ees"
          ><label for="">Ubicación: </label>1255 Hilyard St, Eugene, OR 97401
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>

        <!-- IDEA: Sacred Heart Helpline Contact Form -->
        <hr />

        <label style="color:#ef0b31" for="#SHMC"
          ><i
            >Centro Médico Sagrado Corazón Servicios de Salud en el Hogar</i
          ></label
        >
        <a id="SHMC" style="" href="tel:5414617550">
          <label for="">Teléfono: </label>(541) 461-7550
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
          />
        </a>
        <a style="font-size:20px;" href="#"
          ><label for="">Ubicación: </label>677 E 12th Ave, Eugene, OR 97401
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>

        <!-- IDEA: Non-Emergency Helpline Contact Form -->
        <hr />
        <label style="color:#ef0b31" for="#NEH"
          ><i>Línea de ayuda que no es de Emergencia</i></label
        >
        <a id="NEH" style="" href="#">
          <label for="">Teléfono: </label>(541) 555-5555
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
        /></a>
        <a style="font-size:20px;" href="#"
          ><label for="">Ubicación: </label>2232 Coburg Rd, Eugene, OR 97401
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>
        <br />
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../static/scale.js"></script>
  </body>
</html>
