<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homeless Resource Finder</title>
    <link rel="icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/gallery.css" />
  </head>
  <body>
    <div class="container">
      <div class="Menu Header">
        <h1>Homeless Resource Finder</h1>
        <h3>Eugene, OR</h3>
      </div>
      <div class="Menu Resources">
        
      </div>
      <div class="Menu ContactForm">
        <h2 style="text-decoration:underline; font-size:28px;">
          Emergency Contact Form
        </h2>
        <a href="#">Contact 1</a> <a href="#">Contact 2</a>
        <a href="#">Contact 3</a> <br />
        <br />
        <h2 style="text-decoration:underline; font-size:28px;">
          Emergency Locations
        </h2>
        <a href="#">Location 1</a> <a href="#">Location 2</a>
        <a href="#">Location 3</a>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </body>
</html>
