<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var ws = {lat: 44.042388, lng: -123.089251};
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: ws
          
        });
        var marker = new google.maps.Marker({position: ws, map: map});

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">womenspace</h1>'+
            '<div id="bodyContent">'+
            '<p><b>womenspace</b> helps all who are <b>female-identifying</b> survivors of <b>Domestic Violence</b>.'+
            ' They offer <b>Emergency Services</b>, <b>Safety Planning</b>, <b>Advocacy and Support Services</b>, <b>Housing and Supportive Housing Services</b>, and <b>Children and Youth Services</b>. </p>'+
            '<p>Their <b>24-hour Cisis and Support Line is (541) 485-6513</b></p>.'
            +
            '<p> Their Non-emergency number is <b>541-485-8232</b></p>' +
            '<p> Their <b>website</b> is http://www.womenspaceinc.org/</p>'
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });


        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv-XmEGorLb8KAJe66s7jI_QXW5wRPgag&callback=initMap"
    async defer></script>
  </body>
</html>